# This is a basic workflow to help you get started with Actions

name: coda-changelog-final

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
     # - uses: actions/checkout@v2
      
      - name: Extract branch name
        run: echo "::set-output name=branch::$(echo ${GITHUB_REF#refs/heads/})"
        shell: bash
        id: extract_branch
        
      - name: Extract latest commit hash
        run: echo "::set-output name=sha::$(git rev-parse --short HEAD)"
        shell: bash
        id: latest_hash
        
      - name: Echo latest hash output
        run: echo eng:${{ steps.latest_hash.outputs.sha }}
        shell: bash
      
      - name: Update Changelog  
        id: update-changelog
        uses: steamclock/coda-changelog@v1
        with:
          fromTag: 'v3.0'
          commits: ${{ toJSON(github.event.commits) }}
          token: ${{ secrets.PAT }}
          coda-token: ${{ secrets.CODA_TOKEN }}
          doc-id: 'p-_LNphf30'
          branch: ${{ steps.extract_branch.outputs.branch }}
        env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


