# This is a basic workflow to help you get started with Actions

name: Test

# Controls when the workflow will run
on: [push]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
       - name: test
         id: test
         uses: steamclock/coda-changelog@v2.0
         env:
          coda-token: ${{ secrets.CODA_TOKEN }}
         with:
           commits: ${{github.event.commits}} #${{toJSON(github.event)}}
           doc-id: 'p-_LNphf30'
