# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Get latest tag
        id: latest_tag
        run: echo "::set-output name=name::$(git tag --sort=-creatordate | head -1)"

      - name: Extract commits since last tag
        id: extract_commits
        run: |
          echo "::set-output name=commits::$(echo $(git log -n 10 \
              --pretty=format:'{%n  "commit": "%H",%n "body": "%b",%n  "message": "%s",%n  "author": {%n    "name": "%aN",%n    "email": "%aE",%n    "timestamp": "%aD"%n  } %n},' \
              $@  | awk 'BEGIN { print("[") } { print($0) } END { print("]") }' | python -u -c \
              'import ast,json,sys; print(json.dumps(ast.literal_eval(sys.stdin.read())))'))"
      - name: Run a one-line script
        run: echo ${{ steps.extract_commits.outputs.commits }}
