# This is a basic workflow to help you get started with Actions

name: Update Coda Changelog

# Controls when the workflow will run
on: [push]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Output the current branch name
        run: echo running on branch ${GITHUB_WORKSPACE}
        
      #- uses: actions/checkout@v1
      
      - name: Get latest tag
        id: latest_tag
        run: |
          echo "::set-output name=name::$(git tag --sort=-creatordate | head -1)"
          git tag --list
        
      - name: Print latest tag
        run: echo ${{ steps.latest_tag.outputs.name }}

      - name: Extract commits since last tag
        id: extract_commits
        run: |
          echo "::set-output name=commits::$(echo $(git log ${{ steps.latest_tag.outputs.name }}.. \
              --pretty=format:'{%n  "commit": "%H",%n "body": "%b",%n  "message": "%s",%n    "timestamp": "%aD"%n,%n  "author": {%n    "name": "%aN",%n    "email": "%aE" } %n},' \
              $@  | awk 'BEGIN { print("[") } { print($0) } END { print("]") }' | python -u -c \
              'import ast,json,sys; print(json.dumps(ast.literal_eval(sys.stdin.read())))'))"
              
      - name: Run a one-line script
        run: echo ${{ steps.extract_commits.outputs.commits }}

          
      - name: Extract branch name
        run: echo "::set-output name=branch::$(echo ${GITHUB_REF#refs/heads/})"
        shell: bash
        id: extract_branch
        
      - name: Echo Branch output
        run: echo eng:${{ steps.extract_branch.outputs.branch }}
        shell: bash
        
      - name: Update Changelog
        id: update-changelog
        uses: steamclock/coda-changelog@v1
        with:
          all-commits: ${{ steps.extract_commits.outputs.commits }}
          commits: ${{ toJSON(github.event.commits) }}
          coda-token: ${{ secrets.CODA_TOKEN }}
          doc-id: 'p-_LNphf30'
          branch: eng:${{ steps.extract_branch.outputs.branch }}
